.intro-section-one{
background-image: url('../../media/Flaminco-background.jpg');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
height: 95vh;
display: flex;
justify-content: space-around;
flex-direction: column;
margin-bottom: 5rem;
border-bottom: 0.2rem solid $paragraphColour;
p{
  padding: 0 2.5rem;
  font-size: 3.2rem;
  font-family: $introText;
}
display: flex;
.intro-background-image{
  // background-color: rgba(30, 30, 30, 0.5);
  background-color: rgba(0, 0, 0, 0.5);
  width: 50%;
  height: 100%;
  display: flex;
      flex-direction: column;
      justify-content: space-evenly;
  .intro-text-box-one{
    display: inline;
    p{
      color: white;
    }
  }
  .intro-text-box-two{
    display: inline;
    p{
      color: white;
    }
  }
}
}