.image-of-coffe-cup{
  position: relative;
  height: 19rem;
  background-image: url('../../media/backdrop-coffe-beans.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  svg{
    width: 8%;
    transform: translate(10rem, 6rem);
  }
}

.coffe-mug{
  width: 23rem;
  position: absolute;
  top: -59%;
  right: 1rem;
  border-radius: 1rem;
}