.image-of-coffe-cup{
  position: relative;
  height: 60vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  svg{
    width: 37%;
    transform: translate(15%, 50%);
  }
  .container-coffe-mug{
    width: 33rem;
    position: absolute;
    top: -27%;
    right: 2.5rem;
    border-radius: 1rem;
    height: 33rem;
    background-image: url('../../media/coffe-image-flaminco.jpg');
    background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  }
}


