//for header
$headercolor: #D9D9D9;

//two intro boxes
$boxColorOne: #C2AED6;
$boxColorTwo: #B79CD3;

//riddle section
$backgroundSectionTwo: #593F72;
$textColor: #D9D9D9;
$errorMessageColor: #EAE024;
