header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  h2{
    font-size: 2rem;
    color: $paragraphColour;
  }
  .header-menu{
    div{
      display: flex;
      gap: 1rem;
    }
    p{
      font-size: 1.3rem;
      color: $paragraphColour;
    }
  }
}