/* Typography */





/* General */
button{
  padding: 0.5rem;
}
input{
  padding: 0.5rem;
}



/* riddle section */
.riddle-displayed{
  text-align: center;
}

.submit-button{
  margin-top: 1rem;
  padding: 0.5rem;
}




/* control button section */
.control-buttons{
  margin-top: 3rem;
}

.next-riddle{
  display: flex;
  align-items: baseline;

}

.riddle-options-list{
  list-style-type: none;
}

.riddle-displayed{
  max-width: 70%;
}


.users-want-notifications{
  display: flex;
  align-items: baseline;
}